/* External Stylesheet */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 25px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Adjust the logo styles for circular shape */
.logo {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff4500;
}

main {
  padding: 170px 20px 100px; /* Adjust the top and bottom padding to accommodate the fixed header and footer */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hero {
  background-image: url("blood-main-white.jpeg");
  background-size: cover;
  color: #333;
  text-align: center;
  padding: 100px 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #222;
}
